<template>
  <div id="app">
    <template v-if="characters.results">
      <p v-for="character in characters.results" :key="character.id">
        {{ character.name }}
      </p>
    </template>
  </div>
</template>

<script>
import { gql } from "@apollo/client/core";

const query = gql`
  query Characters {
    characters {
      results {
        id
        name
        image
      }
    }
  }
`;

export default {
  name: "App",
  data() {
    return {
      characters: {},
    };
  },
  apollo: {
    characters: {
      query,
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
